# Ignore all .log files
*.log

# Ignore all files in the 'temp' directory
temp/

# Ignore any file named 'config.php'
config.php

# Ignore all .env files
*.env

# Ignore all .DS_Store files (common on macOS)
.DS_Store


node_modules
